@import url('https://fonts.cdnfonts.com/css/luna-2');
@import url('https://fonts.cdnfonts.com/css/jabore');

.some-element {
    overflow-anchor: none;
}

hmtl {
    padding: 0;
    margin: 0;
}

    #container {
        display: flex;
        flex-direction: column;
        background-color: #FFFBF7;
    }

        .header {
            display: flex;
            justify-content: center;       
            margin: 5% 10% 0% 10%;
            border-bottom: solid grey 1px;
        }

        .header img {
            height: 10vw;
        }

        .header h1{
            text-align: center;
            font-family: 'Luna', sans-serif;
            padding-bottom: 2.5%;
            font-size: 4vw;
        }

        .instructions {
            font-family: 'Jabore', sans-serif;
            font-size: 2rem;
            margin: 5vw 10vw;
            line-height: 150%;
        }

        .subheader {
            margin-bottom: 5%;
        }

        .start-button {
            font-family: 'Luna', sans-serif;
            font-size: 2vw;
            padding: 2.5%;
            margin: 5% 40% 0 40%;
            background-color: #9FC9C7;
            border-style: none;
            border-radius: 10px;
        }

        footer {
            display: flex;
            align-content: space-between;
            justify-content: space-between;
            font-family: 'Jabore', sans-serif;
            font-size: 1.5vw;
            margin: 0 10vw 0 10vw;            
        }

        #board {
            margin: 5vw;
            min-width: 80vw;
            min-height: 50vw;
            border: solid grey 1px;
            position: relative;
            background-color: #D9E9E9;
        }

        #summaryTable {
            margin: 5vw 25vw 5vw 25vw;
            max-width: 50vw;
            min-height: 60vw;
            border: solid grey 1px;
            border-radius: 10px;
            background-color: #D9E9E9;
        }
        
        #summaryTable h2 {
            font-family: 'Luna', sans-serif;
            text-align: center;
            font-size: 3vw;
        }

        #summaryTable p, 
        ul {
            font-family: 'Jabore', sans-serif;
            margin: 5vw;
            font-size: 3vw;
        }

        #summaryTable ul li {
            font-family: 'Jabore', sans-serif;
            line-height: 5vw;            
        }

        #summaryTable button {
            width: 20vw;
            text-align: center;
            height: 10vw;
            font-family: 'Luna', sans-serif;
            font-size: 2vw;
            display:block;
            margin-left: auto;
            margin-right: auto;
            border: none;
            border-radius: 1vw;
            background-color: #F5FAF9;
            box-shadow: 0.5vw 0.5vw 0.3vw #405050;
        }
        
        /* Animation for scoring everytime the player colides with target  */

        @-webkit-keyframes backOutUp {
        0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        }
        
        20% {
        -webkit-transform: translateY(0px) scale(0.7);
        transform: translateY(0px) scale(0.7);
        opacity: 0.7;
        }
        
        100% {
        -webkit-transform: translateY(-700px) scale(0.7);
        transform: translateY(-700px) scale(0.7);
        opacity: 0.7;
        }
        }
        @keyframes backOutUp {
        0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        }
        
        20% {
        -webkit-transform: translateY(0px) scale(0.7);
        transform: translateY(0px) scale(0.7);
        opacity: 0.7;
        }
        
        100% {
        -webkit-transform: translateY(-700px) scale(0.7);
        transform: translateY(-700px) scale(0.7);
        opacity: 0.7;
        }
        }
        .animate__backOutUp {
        -webkit-animation-name: backOutUp;
        animation-name: backOutUp;
        }
        animation-duration: 2s;
        -webkit-animation-duration: 2s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        /* Bouncing entrances  */

        /* Animation for score diaperize button */

        @-webkit-keyframes zoomOut {
        from {
        opacity: 1;
        }
        
        50% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
        }
        
        to {
        opacity: 0;
        }
        }
        @keyframes zoomOut {
        from {
        opacity: 1;
        }
        
        50% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
        }
        
        to {
        opacity: 0;
        }
        }
        .animate__zoomOut {
        -webkit-animation-name: zoomOut;
        animation-name: zoomOut;
        animation-duration: 2s;
        -webkit-animation-duration: 2s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        }
        